SUPABASE_URL=#fill it with your own url key
SUPABASE_PUBLISHABLE_KEY=#fill it with your own publish key
SUPABASE_SECRET_KEY= #fill it with your own secret key
PORT=8000
JWT_SECRET_KEY=#fill it with your own secret key
FRONT_END_URL=http://localhost:5173